body {
  min-height: 100vh;
  padding-bottom: 2rem;
  background-image: linear-gradient(to top right, blue , white);
  font-size: 1.5rem;
  font-family: sans-serif;
}

svg {
  filter: drop-shadow(-.25rem .25rem .1rem black);
}

#header {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: white;
  text-shadow: 2px 0px black,
               0px 2px black,
               -2px 0px black,
               0px -2px black;
}

header {
  text-align: center;
}

#euler {
  font-size: 4rem;
  font-weight: bold;
  fill: white;
  stroke: black;
  stroke-width: .1rem;
}

#problemID {
  font-size: 2rem;
  font-weight: bold;
  fill: white;
  stroke: black;
}

nav {
  margin: auto;
  margin-bottom: 10px;
  font-size: 1.25em;
  text-align: center;
  color: white;
  text-shadow: 2px 0px black,
               0px 2px black,
               -2px 0px black,
               0px -2px black;
}

nav text {
  font-size: 2rem;
  font-weight: bold;
  fill: white;
  stroke: black;
}

#problemNumber {
  font-size: 1.5em;
  text-align: center;
  color: white;
  text-shadow: 2px 0px black,
               0px 2px black,
               -2px 0px black,
               0px -2px black;
}

#links {
  margin: auto;
  margin-bottom: 10px;
  font-size: 1.25em;
  text-align: center;
  color: white;
  text-shadow: 2px 0px black,
               0px 2px black,
               -2px 0px black,
               0px -2px black;
}

/*a:visited, a:link {
  text-decoration: none;
}*/

a {
  text-decoration: none;
  color: black;
}

#workArea {
  margin: auto;
  width: 50vw;
  border: .2rem solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  box-shadow: -10px 10px 10px;
}

main {
  margin: auto;
  width: 50vw;
  border: .2rem solid black;
  border-radius: .5rem;
  padding: .5rem;
  font-family: serif;
  background-color: white;
  box-shadow: -.5rem .5rem .5rem;
}

.example {
  text-align: center;
}

.inset {
  margin-left: 1em;
}

#explanation {
  visibility: hidden;
}

#notes {
  display: none;
}

summary {
  display: none;
}

#problem {
  text-align: center;
  border: .15rem solid black;
  border-radius: .5rem;
  width: 10rem;
  cursor: default;
}

input {
  margin-bottom: .5rem;
  padding: .25rem;
  height: 2rem;
  width: 10rem;
  font-size: 1rem;
  border-radius: .25rem;
}

button {
  margin-bottom: 1rem;
  height: 2rem;
  width: 10rem;
  font-size: 1rem;
  font-family: sans-serif;
  text-align: center;
  border: .15rem solid black;
  border-radius: .5rem;
  background-color: white;
}

.red {
  color: red;
  font-weight: bold;
}

div p a:link, div p a:visited {
  color: black;
  text-decoration: none;
}
